In [308]:
#whole number start witth zero:
for i in range(0,50+1):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [314]:
#natural number start with 1
for i in range(1,50+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [322]:
#integers -10 to +10
for i in range(-10,10+1):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [332]:
#even numbers starts with 2
for i in range(2,50+1,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [340]:
#odd numbers starts with 1
for i in range(1,50+1,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [343]:
#prime number
for num in range(2, 50):
    for i in range(2, num):
        if num%i==0:
            break
    else:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [19]:
#check odd number or even
num = int(input("enter your number:"))
if num==0:
    print("zero")
elif num%2==0:
    print("even")
else:
    print("odd")

enter your number: 5

odd

In [337]:
#prime or not prime
num = int(input("enter :"))
if num<=1:
    print("not prime")
else:
    for i in range(2,num):
        if num%i==0:
            print("not prime")
            break
    else:
        print("prime")

enter : 2

prime

In [345]:
#factorial
fact = 1
num = 5
for i in range(1,num+1):
    fact = fact*i
print(fact)

120

In [524]:
#amstrong
num = int(input("enter:")) #user
num_str = str(num)  #convert num to string
n = len(num_str) #check len
s = 0  #check sum=0

for i in num_str:
    s=s+int(i)**n
if s==num:
    print("ams")
else:
    print("not ams")

enter: 153

ams

In [7]:
#fabinacci
n = int(input(" e:"))
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

 e: 10

0 1 1 2 3 5 8 13 21 34

In [367]:
#list the num of even numbers in the list and not alllo
list1 = [1, 2, 4,3,8,10,12,12,15]
u =[]
for i in list1:
    if i%2!=0:
        continue
    else:
        u.append(i)
        u_n = set(u)
print(u_n)
print("count=",len(u_n))

{2, 4, 8, 10, 12}
count= 5

In [136]:
#odd num
list1=[1,3,2,5,10,15,15]
odd = []
for i in list1:
    if i%2==0:
        continue
    else:
        odd.append(i)
print(len(set(odd)))

4

In [177]:
#prime num
list1=[1,3,2,5,10,15,15]
prime=[]
for i in list1:
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            prime.append(i)
print(set(prime))

{2, 3, 5}

In [199]:
#pattern
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [211]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        for k in range(1,j+1):
            print("*",end=" ")
        print()

*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
*
* *
* * *
*
* *
*

In [215]:
#palindrome
word = "hello world"
rev = " "
for i in word:
    rev = i+rev
print(rev)

dlrow olleh

In [221]:
#short cut
word = "hello world"
print(word[::-1])

dlrow olleh

In [243]:
#union
a = "world"
b = "hello"
c = sorted(set(a) | set(b))
print(c)

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [263]:
#intersection
a = "hello"
b = "hel"
c = sorted(set(a)|set(b))
print(len(a))
print(len(b))
print(c)

5
3
['e', 'h', 'l', 'o']

In [417]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact
factorial(5)

120

In [331]:
def add(a,b):
    return a+b
def sub(c,d):
    return c-d
print(add(7,8))
print(sub(7,8))

15
-1

In [403]:
def fabi(n):
    a,b=0,1
    for i in range(n):
        print(a,end=" ")
        a,b=b,a+b
fabi(10)

0 1 1 2 3 5 8 13 21 34

In [93]:
num = int(input("Enter your table number: "))
total = 0
for i in range(1, 11):
    table = num * i
    print(num,"X",i,"=",table)
    total += table
print("total = ",total)

Enter your table number:  11

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
total =  605

In [57]:
num = int(input("Enter your table number: "))
total = 0

for i in range(1, 11):
    multiple = num * i
    print(multiple)
    total += multiple

print("Total Sum =", total)

Enter your table number:  11

11
22
33
44
55
66
77
88
99
110
Total Sum = 605

In [139]:
#vowels
word = "sam"    #a
vowels = "aeiouAEIOU"
count = 0
for i in word:
    if i in vowels:
        count +=1
print(count)

1

In [161]:
#vowels
word = "saaaaaaaaaaaam"
vowels = "aeiouAEIOU"
count = []
for i in word:
    if i in vowels:
        count.append(i)
print(set(count))

{'a'}

In [221]:
#given number is factorial or not factorial
fact = 1
num = int(input("enter your number:"))
for i in range(1,num+1):
    fact = fact*i
    if fact==num:
        print("factorial")
        break
    elif fact>num:
        print("not factorial")
        break

enter your number: 3

not factorial

In [285]:
#fabi or not fabi
num = int(input("enter your number:"))
a,b =0,1
for i in range(num+1):
    if a == num:
        print("it's fabi")
        break
    a,b=b,a+b
else:
    print("not fabi")

enter your number: 1

it's fabi

In [305]:
#palindrome
word = "vishnu"
print(word[::-1])

#loop method
word = "sam"
r =""
for i in word:
    r = i + r
print(r)

unhsiv
mas

In [337]:
#palindrome or not
word = input("enter:")
r = ""
for i in word:
    r = i + r
if word == r:
    print("palindrome")
else:
    print("not palindrome")

enter: saas

palindrome

In [339]:
#reverse a string
string =input("enter :")
rev_string = " "
for i in string:
    rev_string = i+rev_string
print(rev_string)

enter : sam

mas

In [361]:
a = input("enter :")
b = input("enter :")
a,b=b,a
print(a,b)

enter : sam
enter : vishnu

vishnu sam

In [452]:
num = int(input("enter:"))
s = 0
for i in range(1,num):
    if num%i == 0:
        s=s+i
if s == num:
    print("perfect")
else:
    print("not perfect")

enter: 6

perfect

In [526]:
#slicing and cancadination
name = "ramaya" #clinent want ramya
new_name = name[:3]+name[-2:]
print(new_name)

ramya

In [552]:
num = int(input(""))
s = 0
total=0
for i in range(1,num+1):
    s = s+i
    print(i)
    total = total + i
print("total",total)

 10

1
2
3
4
5
6
7
8
9
10
total 55

In [599]:
#vowels
word = "sam"
vowels = "aeiouAEIOU"
count = ""
for i in word:
    if i in vowels:
        count=count+i
print(count)

word = "saaaam"
vowels = "aeiouAEIOU"
count = 0
for i in word:
    if i in vowels:
        count = count+1
print(count)

a
4

In [651]:
count = []
for i in range(1,5+1):
    name = str(input("enter:")).strip().lower()
    if name.startswith("s"):
        count.append(name)
print(count)

enter:   S
enter:   S
enter:    S
enter:    S
enter:   S

['s', 's', 's', 's', 's']

In [655]:
def add(a,b):
    return a+b
def sub(c,d):
    return c-d
def mul(e,f):
    return e*f
def div(g,h):
    return g/h
print(add(2,4))
print(sub(3,4))
print(mul(2,9))
print(div(8,4))

6
-1
18
2.0

In [669]:
def num1(a,b):
    return a+b
def num2(c,d):
    return c-d
def num3(x,y):
    print(x*y)

res1 = num1(5,2)
res2 = num2(2,5)

print(res1,res2)
num3(res1,res2)

7 -3
-21

In [84]:
def  febi(n):
    a,b=0,1
    for i in range(n):
        print(a,end=" ")
        a,b=b,a+b
febi(5)

0 1 1 2 3

In [88]:
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
        print(fact)
fact(5)

1
2
6
24
120

In [98]:
def prime(num):
    if num<=1:
        print("not prime")
    else:
        for i in range(2,num+1):
            if n%i==0:
                print("not prime")
                break
            else:
                print("prime")
                break

prime(120)

prime

In [108]:
def ams(hello):
    num = int(input("enter:"))
    num_str = str(num)
    n = len(num_str)
    s = 0
    for i in num_str:
        s= s+int(i)**n
    if s==num:
        print("ams")
    else:
        print("not ams")

ams("hi")

enter: 153

ams